/*
 * -------------------------------------------------
 *  Nextflow config file for running on AWS batch
 * -------------------------------------------------
 * Base config needed for running with -profile awsbatch
 */

params {
  config_profile_name = 'AWSBATCH'
  config_profile_description = 'AWSBATCH Cloud Profile'
  config_profile_contact = 'Bioinformatics Flomics, S.L. team (bioinformatics@flomics.com)'
  awsregion = 'eu-west-1'
  tracedir = './'
  awsqueue = 'default-gwfcore'
  phylo = false
}
aws.region = 'eu-west-1'
process.executor = 'awsbatch'
process.queue = 'default-gwfcore'
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
workDir = 's3://flomics-scratch/tmp/github_actions'
