/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running the rnaseq pipeline with samples with the CORALL library preparation kit
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseq -profile corall

----------------------------------------------------------------------------------------
*/

params {
    with_umi             = true
    salmon_quant_libtype =  'ISF'
    umitools_extract_method    = 'string'
    umitools_bc_pattern = 'NNNNNNNNNNNN'
}

