/*
 * -------------------------------------------------
 *  Nextflow config file for fgenomes paths
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.fgenomes_base / --fgenomes_base
 */

params {
  // illumina fgenomes reference file paths
  genomes {
    'GRCh37.99' {
      fasta       = "${params.fgenomes_base}/Homo_sapiens/Ensembl/GRCh37/release-99/fasta/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
      star        = "${params.fgenomes_base}/Homo_sapiens/Ensembl/GRCh37/release-99/STARindex/"
      gtf         = "${params.fgenomes_base}/Homo_sapiens/Ensembl/GRCh37/release-99/gtf/Homo_sapiens.GRCh37.87.gtf"
      gtf_v       = "87"
      fasta_v     = "37"
      gencode_v   = "19"
      release     = "99"
    }
    'GRCh38.101' {
      fasta       = "${params.fgenomes_base}/Homo_sapiens/Ensembl/GRCh38/release-101/fasta/Homo_sapiens.GRCh38.dna_rm.primary_assembly.fa"
      star        = "${params.fgenomes_base}/Homo_sapiens/Ensembl/GRCh38/release-101/STARindex/"
      gtf         = "${params.fgenomes_base}/Homo_sapiens/Ensembl/GRCh38/release-101/gtf/Homo_sapiens.GRCh38.101.gtf"
      gtf_v       = "101"
      fasta_v     = "38"
      gencode_v   = "35"
      release     = "101"
    }
    'GRCh37.101' {
      fasta       = "${params.fgenomes_base}/Homo_sapiens/Ensembl/GRCh37/release-101/fasta/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
      star        = "${params.fgenomes_base}/Homo_sapiens/Ensembl/GRCh37/release-101/STARindex/"
      gtf         = "${params.fgenomes_base}/Homo_sapiens/Ensembl/GRCh37/release-101/gtf/Homo_sapiens.GRCh37.87.gtf"
      gtf_v       = "87"
      fasta_v     = "38"
      gencode_v   = "35"
      release     = "101"
    }
  }
}
