/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running the rnaseq pipeline with samples with the SMARTer library preparation kit
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseq -profile smarter

----------------------------------------------------------------------------------------
*/

params {
    with_umi             = true
    salmon_quant_libtype =  'ISR'
}

process {
    withName : "NFCORE_RNASEQ:RNASEQ:FASTQC_UMITOOLS_TRIMGALORE:TRIMGALORE" {
        ext.args   = '--fastqc -a AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC --stringency 20 --length 20'

                //-a and -a2 are the adapter sequences
                //--stringency 20 is the minimum overlap with adapter sequence required to trim a sequence. Recommended by Lexogen
                //--length 20 Removes reads smaller than this. Default and recommended by Lexogen
                // Lexogen recommends to use -n 2, to remove the adapter a maximum amount of 2 times for each read. This option is not available in trim_galore but it should not be necessary
    }

    withName: "NFCORE_RNASEQ:RNASEQ:FASTQC_UMITOOLS_TRIMGALORE:UMITOOLS_EXTRACT" {
           ext.args   = '--extract-method=regex --bc-pattern2="^(?P<umi_1>.{8})(?P<discard_1>.{6}).*" '
    }
}
