/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running the rnaseq pipeline with samples with the CORALL library preparation kit
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseq -profile test_master,test_corall_SE -c a.config -params-file params.yml

----------------------------------------------------------------------------------------
*/

params {
    // Input data
    input = 's3://flomics-data/test_data_RNAseq_pipeline/Flomics_rnaseq_test_SE_CORALL_samplesheet.csv'
    outdir = 's3://flomics-scratch/nextflow-workdir/test/test_corall_SE/'
}

process {
    //This next section adds necessary parameters to the processes
    withName: "NFCORE_RNASEQ:RNASEQ:FASTQC_UMITOOLS_TRIMGALORE:UMITOOLS_EXTRACT" {
           ext.args   = '--bc-pattern=NNNNNNNNNNNN'
    }
}
