/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running the rnaseq pipeline with any test profile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rnaseq -profile test_master,test_{corall|smarter}_{SE|PE} -c a.config -params-file params.yml

----------------------------------------------------------------------------------------
*/

params {
    // Input options
    project = 'github_actions'

    // Other parameters
    kraken2_db              = 's3://flomics-no-backup/references/Genomes/KrakenDB/k2_minusb_20230314.tar.gz'
    min_trimmed_reads       = 100
    skip_deseq2_qc          = true
}
