/*
 * -------------------------------------------------
 *  Nextflow config file for running on the webserver using awsbatch
 * -------------------------------------------------
 * Base config needed for running with -profile webserver
 */

params {
  config_profile_name = 'WEBSERVER'
  config_profile_description = 'WEBSERVER Profile'
  config_profile_contact = 'Bioinformatics Flomics, S.L. team (bioinformatics@flomics.com)'
  region = "eu-west-1"
  tracedir = './'
  awsqueue = 'SARSCoV2_jobqueue'
  kraken2_db = '/home/ec2-user/kraken2_db/'
}
aws.region = params.awsregion
process.executor = 'awsbatch'
process.queue = params.awsqueue
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
workDir = 's3://nf-covid19/'
tower.enabled = true
